<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
    <link rel="stylesheet" href="/public/styles.css" />
  </head>
  <body>
    <section>
      <h1>Edit Blog</h1>
      <hr />
      <form action="/<%=blogs.id%>?_method=PUT" method="POST">
        <label for="title">
          Title for Blog <br />
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Title"
            value="<%=blogs.title%>"
          />
        </label>
        <br />
        <label for="content">
          <br />
          <textarea
            name="content"
            id="content"
            cols="80"
            rows="20"
            placeholder="Shower Your Thoughts...."
          >
<%=blogs.content%></textarea
          >
        </label>
        <button style="color: red">Save</button>
      </form>
      <br />
    </section>

    <a href="/" style="text-decoration: none; color: green"> &lt-- Go Back</a>
  </body>
</html>
